@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
	margin: 0;
}
body {
	display: grid;
	place-content: center;
	min-height: 100vh;
	overflow:hidden;
	background-color: #321;
	background-image: url('https://images.unsplash.com/photo-1632296773703-3cacf60a3ac4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=760&q=80');
	background-size: cover;
	background-position: center;
	background-blend-mode: lighten ;
}
header h1 {
  font-family: 'Audiowide', cursive;
  color : #E6F5FF;
  font-size:6em;
  text-align:center;
  line-height:1.1;
  text-shadow: 16px 22px 11px rgba(168,158,32,0.8);
  margin-bottom:0.1em;
}
.content h1{
  color:0958E0;
  background-color: #64BD0A;
  font-family: 'Quicksand', sans-serif;
  font-weight : 200;
  font-style : bold;
  margin-top:0;
}
main{
  background-color : rgba(255,215,0,0.7); 
  margin:auto auto;
  text-align: center;
  width:80%;
}
.content p{
  color : #0958E0;
  font-size : 0.9em;
  margin-bottom:0;
}
.content h2{
  font-family: 'Quicksand', sans-serif;
  font-weight : 150;
}
.content h3{
    font-family: 'Quicksand', sans-serif;
    font-weight : 50;
}
footer {
  background-color:green;
  margin:0;
  position: fixed;
  left: 0;
  bottom: 0;
  width:100%;
  text-align:center;
}
footer p{
  color:white;
  padding:10px;
  margin:0;
}